mat-form-field {
  width: 100%;
}

textarea {
  font-size: large;
  font-weight: bold;
}

.card {
  height: 350px;
  width: 100%;
  overflow-y: scroll !important;
  pre {
    white-space: pre-wrap;
  }
  .card-body {
    padding: 0 1.25rem;
  }
}

fa-icon {
  color: white;
}

// default color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: black;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: black;
}
